# Introduction To Python
	Python is a high level Programming Language created by Guido  Rossum in 1989  which is very easy to read and write like simple English sentence which makes code lot easier and understandable even for new users who never interact with python Programming
 #### Free & Open Source:
	Python programming code’s,libraries,documentations, everything is open source means anyone can use it and makes changes according to their needs.
#### Easy To Debug:
Python use interpreter instead of
Compiler, Means the code are run line by 
Line if there is any error it will show you 
The exact line where you have error 
Therefore  debugging is lot easier as compare to other programming 
languages.
#### Portable:
	you can run python code on any operating system you for example want if any python code is written in Window that could be also work in Mac, IOS or Linux Operating system.

# First Python Program
   You can write your first python program in just one line of code Like:

In [2]:
print('hello world')

hello world

Here’s in the above Code the python print function tells the computer to display
On the screen whatever inside the parenthesis of print function in the above case it will print hello world in the screen without quotation marks as we always include string or character’s inside quotes will be discussed later on

# Comment’s
Comment’s in python are such code which are ignored by the python interpreter mean’s that it is just for human understanding that what code he/write if they check their code 3 or 4 months later they still can understand their codes by that comments, following are the examples:
Types Of Comments:
There are two types of comments
1. One line comments:

In [6]:
# this is my first comment
print('hello world')

hello world

One line comment is written by # symbol and  is used if you have to 
comment only one line of code as in the above example where comment 
Give us the description of bellow code.

2. Multiple line comments:

In [7]:
'''This is multi
lines of
comments and will
not effect the 
program'''

'This is multi\nlines of\ncomments and will\nnot effect the \nprogram'

Multi line comment’s are written between triple single quotes  which is 
 used if you want to write  large number of lines as a
Comment in your code as like in the above example this code will not effect
Your program.

# Variables
variable is like a container where we stored our values.
for example:
name = 'nomi'
In the above example var is our variable and 'nomi' is the value which is stored inside that variable 
<br>following are some example's of variables

In [8]:
age = 25
message = 'Nomi Intelligence'
score = 44.5

#### Rules For Variable Declaration:
1. Variable Can only accept degits, alphabits and underscores
2. Variable name cannot accept spaces between any character
3. Variable name should not start from integer number's it should always start from any character or underscore
<br>Following are some examples of variable names

In [11]:
name = 'nomi'
youtube_channel = 'Nomi Intelligence'
Age = 24
WhatsApp_Number = +923483282236

If you have to print the value of any variable you can do that as:

In [1]:
print(name)
print(youtube_channel)
print(Age)
print(WhatsApp_Number)

NameError: name 'name' is not defined

# Operators
### 1. Arithimetic Operators:
#### Addition:
	Here’s how we can add two values or variables together in python

In [1]:
a = 33
b = 44
print(a+b)
# or you can do it as
c = a+b
print(c)

77
77

#### Subtraction:
In the same way you can also do subtraction

a = 33
b = 44
print(a-b)

#### Multiplication:
as in normal mathimathics we use 'x' for multiply two values together but in programming we always use * for multiplication purpuse as in the following code:

In [3]:
a = 33
b = 44
print(a*b)

1452

### Division
For division we use '/' or '//' slashes if your using single slash it will show you the complete result with decemal points while if your using double slashes it will show you only a single value without decimal points

In [13]:
# use single slash
a = 334
b = 44
print(a/b)
# use double slashes
a = 334
b = 44
print(a//b)

7.590909090909091
7

### 2. Assignment Operators
Assignment operators are used to assign values to each other as following are certein types of assigment operators
1. =
2. +=
3. -=
<br>let's use it

In [14]:
# if you have to assign any variable or value to each other:
a = 2
print(a)
# if you have to use add operator
a += 2
print(a)
# if you have to use minus operator
a -= 2
print(a)

2
4
2

### 3. Comparison Operators
Comparison Operators are being used to compare one variable or value with other's.
Comparison Operators will always give's you answer in two states 
<br> True & False
<br> if the condition is true it's show you True Otherwise False
Here's some of the comparison operators:
<br>  ==  (known as equal to)
<br>  !=  (known as not equal to)
<br>  <   (known as less than)
<br>  >   (known as greater than)
<br> <=   (known as less than equal to)
<br> >=   (known as greater than equal to)
   <br> Let's Use these all in the following example:

In [12]:
a = 23
b = 45
# check wether these two variables are equal or not
print(a==b)
# check wether these two variables not equal to each other
print(a!=b)
# check wether a is less than b or not
print(a<b)
# check wether a is greater than b or not
print(a>b)
# check wether a is less than or equal to  b or not
print(a<=b)
# check wether a is greater or equal to b or not
print(a>b)

False
True
True
False
True
False

### Logical Operators
                Logical operators are:
	and, or, not operators.
* And Operator: if both statements are True it will give you the result as True that’s known as AND operator
* Or Operator: if atleast one statement is true are known as OR operator
* Not Operator: it will give you True if both of the statement’s become
  false.
<br> Example:

In [2]:
# Example 1
print(True == True)
print(True == False)
print(False == False)
print(True and True)
print(True or False)

True
False
True
True
True

In [10]:
# Example 2
Value1 = True
Value2 = False
print("The comparison of Value1 and Value2 is",(Value1 and Value2))
print("The comparison of Value1 or Value2 is", (Value1 or Value2))
print("Value2 is",(not Value2))

The comparison of Value1 and Value2 is False
The comparison of Value1 or Value2 is True
Value2 is True

### Special Operators
Python also provide some special operators like:
#### 1. Identity operators
Two types of identity operators
1. is ==> if both values are identical to each other it will return True if not then False
2. is not ==> If both values are not identical to each other it will return True otherwise False
<br>Following are some Examples:

In [13]:
# Example
a = 23
b = 45
c = 'nomi'
d = 'sonu'
print(a is b)
print(a is not b)
print(c is d)
print(c is not d)

False
True
False
True

#### 2. Membership operators
Two Types
1. in
2. not in
* in check the value in a sequence if that is found it's show's True if not then False
* not in check value in a sequence if that is not found it's show's True otherwise False

In [16]:
# Example
names = 'nomi', 'rizwan', 'marwan'
print('nomi' in names)
print('nomi' not in names)

True
False

# Exercise No-1
1. Write a program to asign 23 with the name age 
2. Assign a string value into a variable then print it
3. Assign 22 as a float value to a variable then print the type of it
4. Write a program to add two numbers
5. Write a program for division which print values without decimal point
6. Use comparison Operater whether a given variable Var1 is greater than Var2 or not Values are:
   Var1 =  54 , Var2 = 34
7. Add 20 to a variable a = 10 by using += operators
8. Find the square of 45 by asigning it to a variable
###### Try it out with your self then compare with the following solutions

# Solutions Of Ex No-1

In [6]:
# 1.Write a program to asign 23 with the name age
age = 23

In [7]:
# 2. Assign a string value into a variable then print it
Var = 'Nomi'
print(Var)

Nomi

In [8]:
# 3. Assign 22 as a float value to a variable then print the type of it
Var = 22.0
print(type(Var))

<class 'float'>

In [9]:
# 4. Write a program to add two numbers
a = 44
b = 65
print(a+b)

109

In [14]:
# 5. Write a program for division which print values without decimal point
a = 430
b = 54
c = a//b
print(c)

7

In [15]:
# 6. Use comparison Operater whether a given variable Var1 is greater than Var2 or not Values are: Var1 = 54 , Var2 = 34
Var1 = 54
Var2 = 34
print(Var1>Var2)

True

In [16]:
# 7. Add 20 to a variable a = 10 by using += operators
a = 10
a += 20
print(a)

30

In [17]:
# 8. Find the square of 45 by asigning it to a variable
square = 45**2
print(square)

2025

# Data Types
In python each value has a data type
<br> Primarly there are following data types in python programming
<br>==> <b>Integers:</b>
    <br> all the numbers without a decimal point can be consider as integer in python such as 3, 2, 400, 1000, 
<br>==> <b>Floating point: </b>
    <br> All the numbers which having decimal point in between values such as 33.44, 55.4, 0.3 etc
<br>==> <b>Strings:</b> All the characters in python can be known as string type such as'nomi intelligence'
<br>==> <b>Booleans:</b> Booleans can be two types True or False

In [22]:
# Example of Integers
integers = 44
# Example of Floating Point
floating_point = 44.55
# Example of Strings
strings = 'Nomi Intelligence'
# Example of Booleans
booleans = 45.44

### Check Type of Any Variable
If you have to check the type of any variable then you can do that as:

In [23]:
# Check type of a and b 
a = 33
b = 'nomi intelligence'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

# Input() Function
If you have to take some input from the user through keyboard you can use this input function which takes input from the keyboard as a string.
==> it is a built in function which bring flexibitly to our program,  for now we will only know how to take some data from the user as a string and store it in a variable. later on you will play alot with this function so then you will have full understanding about this.

In [30]:
# Example
name = input('my name is ')

my name is nomi

so above function take your name from keyboard and store it in variable called name

### TypeCasting
As above input function only take strings from keyboard how if we have to get int or float values from users, if you type int or float from keyboard that will be considered as string so you have to do type casting means you have to convert one type into another see the following examples

In [31]:
# Example
age = input('Enter your age ')
print(type(age))

Enter your age 22
<class 'str'>

As you see in the above example we type int value but the type shows that it's an integer value so we have to type cast it as follow:

In [33]:
# Example 2 type cast to int
age = int(input('Enter your age '))
print(type(age))
# if you have to type cast it to float
age = float(input('Enter your age '))
print(type(age))

Enter your age 33
<class 'int'>
Enter your age 44
<class 'float'>

In [36]:
#Example 3
name = input('enter your name \n') 
age = input('enter your age \n')
marks = float(input('your marks is \n'))

enter your name
nomi
enter your age
25
your marks is
675

# Keywords
==> keywords are reserved words in python they cannot be define as variable names.<br>
==> Keywords are case sensitive you have to write the exact define in python programming
==> All keywords are lower case except True, False & None.
==> following are some keywords in python which can be used later on in the course
#### keywords:
False,	break, 	for,	not,
None,	class,	from,	or,
True,	continue,	global,	pass,
def,	if, as,	elif,in, try, etc<br>

# Strings
Strings is python data type which can be define as  sequence of characters which are enclosed between quotes. <br>
python string can be quoted in three ways:<br>
==> single quote string can be like: 'nomi'<br>
==> double quote string can be like: '' this is nomi's youtube '' here we can type single quote between double quotes<br>
==> triple single quotes can be like: ''' Hi! its nomi
                                          <br> Welcome to everyone here '''

### Single Quote Example

In [37]:
name = 'nomi'
print(name)

### Double Quote Example

In [38]:
name = " nomi khan's "
print(name)

 nomi khan's

### Triple single Quote Example

In [42]:
var =  '''this is nomi khan
Enjoy this masterpiece tutorial
from Nomi Intelligence'''
print(var)

this is nomi khan
Enjoy this masterpiece tutorial
from Nomi Intelligence

### String Methods
some of the most string functions or methods to perform operations on strings are:
   ##### 1.Count Function:
    This function will count the character you enter in count func in your entire string characters

In [5]:
# Example:
a = 'Nomi Intelligence'
print(a.count('n'))

2

Here you can see that 'n' character is only apear twise in the entire strings

##### 2.Len Function:
This function will give you the length of your total character stored in a variable

In [7]:
# Example
a = 'Nomi Intelligence'
print(len(a))

17

##### 3.Replace Function
This function will replace any character with another character in your orignal sequence

In [9]:
# Example
a = 'Nomi Intelligence'
print(a.replace('Nomi','khan'))

khan Intelligence

The above code will replace 'Nomi' with 'khan' in your orignal variable

##### 4.Find Function:
This function will give you the first occurence index of the character you wanna get

In [14]:
# Example
a = 'Nomi Intelligence'
print(a.find('m'))

2

This will give you index 2 as character 'm' is availaible at index 2

##### 5.EndsWith Function
This function will give you the answer in True or False that your exact string ends with the character you enter or not

In [18]:
# Example
a = 'Nomi Intelligence'
print(a.endswith('ce'))

True

##### 6.Capitalize Function:
This function will capatalize the first character in your sequence of strings

In [23]:
# Example
a = 'nomi intelligence'
print(a.capitalize())

Nomi intelligence

### String Slicing:
As you know that index always start from 0,1,2,3... and so on what if you have to find a character in your entire string, you can do that through slicing or indexing.<br>
for example:
"Nomi": This string consist of indexes 0,1,2,3<br>
Following are the examples:

In [25]:
# Find characters from 0 to 3
a = 'Nomi'
print(a[0:3])

Nom

It's give you only three words because the last index is always skiped if you have to find all the characters then you have to
write one extra index as like:

In [26]:
# Find characters from 0 to 3
a = 'Nomi'
print(a[0:4])

Nomi

In [27]:
# Find character at second index
a = 'Nomi'
print(a[2])

m

In [28]:
# Find all the characters 
a = 'Nomi'
print(a[:])

Nomi

##### Negative Indexing:
You can also do negative indexing means if you have to find the last character in your string you can get that by -1 index
as follow

In [30]:
# Find last character through negative indexing
a = 'Nomi'
print(a[-1])

i

In [40]:
# find second last character
a = 'Nomi'
print(a[-2])

m

# Lists
Let assume that you want to store lots of values in one variable you can do that through list<br>
==> List is a container which can store any type of data.<br>
==> Each value in a list can be separate with a comma.<br>
==> List is mutable means you can change the values in a list.<br>
==> List start and close with large brackets.<br>
### Example of List
List_1 = ['Nomi', 33,True, 55.55]<br>
Here's you can see that list can contain many data types.<br>
Practical Example

In [42]:
# list with different values
List_1 = ['Nomi', 33,True, 55.55]
print(List_1)

['Nomi', 33, True, 55.55]

### creating an Empty list 
If you have to create a list for some purpose you can do as

In [45]:
empty_list = []

### List Indexing & Slicing
If you have to find elements through index or slicing in your list you can do that as:

In [51]:
# find value at index[0]
my_list = [1,2,3,4,5,6]
print(my_list[0])

1

In [52]:
# get values from 2 to 6 index
my_list = [1,2,3,4,5,6]
print(my_list[2:6])

[3, 4, 5, 6]

In [53]:
# get last element through negative indexing
my_list = [1,2,3,4,5,6]
print(my_list[-1])

6

In [54]:
# get all elements in a list
my_list = [1,2,3,4,5,6]
print(my_list[:])

[1, 2, 3, 4, 5, 6]

### List Methods
Following are some methods used for a list 
##### 1.append:
This method will add elements into your existing list<br>
Example:

In [55]:
fruit_list = ['banana', 'mangoes', 'apples']
# Add Orange into the above list
fruit_list.append('oranges')
print(fruit_list)

['banana', 'mangoes', 'apples', 'oranges']

##### 2.insert:
if you have to insert a value in a specific index you can do that by insert method by write index number followed by a value <br>
Example:

In [59]:
fruit_list = ['banana', 'mangoes', 'apples']
# insert 'Orange' at index 0
fruit_list.insert(0, 'orange')
print(fruit_list)

['orange', 'banana', 'mangoes', 'apples']

### 3.Sort
If you have to sort your list in ascending or descending order you can do that by a sort method as follow:

In [74]:
# sort the following list in ascending order
list1 = [3,2,4,5,8,6,1,7]
list1.sort()
print(l1)

[2, 4, 5, 8, 6, 1, 7]

In [75]:
# sort in descending order
list1 = [3,2,4,5,8,6,1,7]
list1.sort(reverse = True)
print(list1)

[8, 7, 6, 5, 4, 3, 2, 1]

### 4.Reverse
This method will reverse your entire list as we do above for sorting lets see example again

In [76]:
# Reverse the following list
list1 = [3,2,4,5,8,6,1,7]
list1.reverse()
print(list1)

[7, 1, 6, 8, 5, 4, 2, 3]

### 5.Copy()
This method will make a copy of your list <br>
Example:

In [77]:
list1 = [3,2,4,5,8,6,1,7]
# make a copy of above list
list2 = l1.copy()
print(list2)

[2, 4, 5, 8, 6, 1, 7]

### 6.Remove
This method will remove any element from your list<br>
Example:

In [80]:
# Remove 3 from the following list
list1 = [3,2,4,5,8,6,1,7]
list1.remove(3)
print(list1)

[2, 4, 5, 8, 6, 1, 7]

### Update a value in a list
If you have to replace any value with new value in a list you can do that by write variable name specify the specific index which should be replaced and finally asign the new value as follow:

In [81]:
# put 100 in place of 3
list1 = [3,2,4,5,8,6,1,7]
list1[0] = 1000
print(list1)

[1000, 2, 4, 5, 8, 6, 1, 7]

# Tuples
Tuples are the same as lists in python which can store different types of data  but the only difference is tuples are immutable you cannot change the elements of tuple.<br>
Tuple start and ends with parenthisis<br>
Examples:

In [2]:
# Create a Tuple
my_tuple = (1,'nomi', True)
print(my_tuple)

(1, 'nomi', True)

### methods of tuples.
##### count
you can count the elements in a tuple like:

In [6]:
# Example
my_tuple = (1,'nomi', True)
my_tuple.count('nomi')

1

##### Index
you can also get the index of an element as like:

In [11]:
# Example
my_tuple = (1,'nomi', True)
my_tuple.index(1)

0

### Trying to change the elements
If you try to change the elements in a tuple its will give you an error as like:

In [13]:
# Example
my_tuple = (1,'nomi', True)
my_tuple[0] = 100    # Tuple is immutable as its shows type error

TypeError: 'tuple' object does not support item assignment

# Dictionary
Dictionary in python is the collection of key value pairs while it is used for large amount of data.
==> It is unorderd<br>
==> It is mutable means elements can be changable<br>
==> dictionary Cannot Contain duplicate Values
==> Dictionary is widely used for retriving the data from dictionary through keys of the values in the dictionary.<br>
==> dictionary store keys and values between braces {}.<br>
==> You can store any type of data in a dictionary.<br>
==> keys and values must be separate through a colon while  each line should have a comma at the end.<br>
Let's see some of the examples of dictionary

### Create a dictionary with key value pairs

In [25]:
# Example
my_dict = {
    'name' : 'Nomi Khan',
    'Age'   : 24,
    'Degree' : 'Computer Science' 
}

In the above Example 'name' , 'Age', and 'Degree' are the keys while 'Nomi khan' , 24 , 'Computer Science' are the values for that keys

### Dictionary Methods
##### 1. Get Key Value Pairs
If you have to get both keys and values for that keys then you can do that items() function as follow:

In [26]:
# get key and values
my_dict = {
    'name' : 'Nomi Khan',
    'Age'   : 24,
    'Degree' : 'Computer Science' 
}
print(my_dict.items())

dict_items([('name', 'Nomi Khan'), ('Age', 24), ('Degree', 'Computer Science')])

##### 2.Get Only Keys
If you have to find all the keys in your dictionary you can do that by keys() function as follow.

In [27]:
# get only values
my_dict = {
    'name' : 'Nomi Khan',
    'Age'   : 24,
    'Degree' : 'Computer Science' 
}
print(my_dict.keys())

dict_keys(['name', 'Age', 'Degree'])

##### 3.Add another key value 
If you have to add new key values to your dictionary you can do that by update() function
as follow:

In [28]:
# Update your dictionary
my_dict = {
    'name' : 'Nomi Khan',
    'Age'   : 24,
    'Degree' : 'Computer Science' 
}
my_dict.update({'Youtube Channel': 'Nomi Intelligence'})
print(my_dict)

{'name': 'Nomi Khan', 'Age': 24, 'Degree': 'Computer Science', 'Youtube Channel': 'Nomi Intelligence'}

##### 4. Get any value through Keys
If you have to get any value through keys availaible in your dictionary you can do that by get() function as follow.

In [29]:
# get name in the following dict
my_dict = {
    'name' : 'Nomi Khan',
    'Age'   : 24,
    'Degree' : 'Computer Science' 
}
print(my_dict.get('name'))

Nomi Khan

# Conditional Statements
Conditional statements are such statements through which we make a decision <br>
for example<br>
if tomorow is rain i will not go to school, in this case rain is condition similarly in python programming following are<br>
conditional Statements.<br>
#### 1. If
#### 2. elif
#### 3. else

Let's use these with examples

### Syntax
1. if(Condition):  ==> if condition True
        print('execute this one')
2. elif(condition): ==> if this one is True and above is False
        print('execute this one')
3. else:            ==> if both of the above conditions become False
        print('execute this one')

#### Example if , else
check the condition between two variables

In [33]:
# check whether 21 is greater than 54 or not 
a = 21
b = 54
if (a>b):
    print('yes a is greater')
else:
    print('no b is greater')

no b is greater

as you see in the above case 'a' is smaller the condition become false so it's gone to the else condition and print that 'b' is greater

##### Example elif
If you have to check multiple conditions you can do that by using elif in between if and else condition here's how:<br>
There can be multiple numbers of elif statements

In [35]:
# check multiple conditions
a = 21
b = 54
if (a>b):
    print('yes a is greater')
elif (a==b):
    print('yes a is equal to b')
elif (a<b):
    print('a is less than b')
elif (a>b):
    print('a is greater than b')
else:
    print('Failed')

a is less than b

The above program will run only the True condition

### Use of is & in

In [1]:
# check an element in the list
a = [3,4,5,6,8]
if (5 in a):
    print('Yes')
else:
    print('No')

Yes

### Example
* Q: Write a program which take age as input from the user and apply the condition if the age is greater than 10 they can follow the course otherwise no.

In [4]:
# Solution
age = int(input('enter your age \n'))
if (age>=10):
    print('Yes you can join the course')
else:
    print('Sorry your still a kid')

enter your age
3
Sorry your still a kid

### Note:
else statement is executed if all the statements become false

# Loops
Loops in python can be define as the execution of a statement or multiple statements untill the given condition becomes true.<br>
Python programming provides following types of loops
1. while loop
2. for loop

### While loop
While loop is used to execute the statement untill it's become True.
for example if you have to print integer numbers from 0 to 20 you can do it by while loop as:

In [3]:
# use while loop to print 50 numbers
i = 0  # here loop start
while (i<=20):  # Condition
    print(i)    # print numbers
    i += 1      # means that each number increase by one

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
# ex2 Print numbers upto 1000 spaced by 100
i = 100
while(i<=1000):
    print(i)
    i += 100

100
200
300
400
500
600
700
800
900
1000

In [9]:
# Example 3 while loop
# print your name 5 times
i = 0
while(i<=5):
    print("Nomi Intelligence")
    i += 1

Nomi Intelligence
Nomi Intelligence
Nomi Intelligence
Nomi Intelligence
Nomi Intelligence
Nomi Intelligence

### Break Statement
if you have stop the loop even the condition becomes true you can use the break statement as follow:

In [31]:
# print numbers upto 10 but break at 5
i = 0
while (i<=10):
    print(i)
    if (i == 5):
        break
    i += 1

0
1
2
3
4
5

### Continue Statement
If you have to stop at certein point in your code skip some values and then continue again you can use continue statement

In [37]:
# Example
# print numbers upto 10 but skip the value number 5
i = 0
while (i<=10):
        i += 1
        if (i == 5):
            continue
        print(i)

1
2
3
4
6
7
8
9
10
11

### 2.For Loop
In python for loop is used to iterate over a value in a sequence<br>
==> This is one of the common used loop in python<br>
==> We can use for loop in a list, dict, tuple, set etc<br>
for example:<br>
id_no = ()<br>
for value in id_no:<br>
    print(id_no)<br>
OutPut:<br>
12345<br>

In [1]:
# Example for loop
# search in a list for values
my_list = [23,'nomi', 55,66,'khan']
for items in my_list:
    print(items)

23
nomi
55
66
khan

##### Used Break Statement In for loop

In [42]:
# break if the biology name comes
subjects = ['chemistry', 'computer' , 'biology' , 'maths']
for sub in subjects:
    print(sub)
    if (sub == 'biology'):
        break

chemistry
computer
biology

##### Used Continue Statement In for loop

In [44]:
# skip 'computer' and continue with others
subjects = ['chemistry', 'computer' , 'biology' , 'maths']
for sub in subjects:
    if (sub == 'computer'):
        continue
    print(sub)

chemistry
biology
maths

### Range Function in for loop
Range function is used to produced sequence of numbers<br>
==> range function by default start from 0 while increment by 1 and ends with a specified numbers<br>
==> you can specify the start, increment and end numbers

In [49]:
# Example 
# print numbers start from 0 upto 100 increment by 10
for i in range(0,100,10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [52]:
# Example 2
for x in range(4):
  print(x)

0
1
2
3

# Function
Function in python is a block of code which is only run when required<br>
==> When program gets better its difficult for the programmers to handle the code thus function can be used to do a specific<br>
task for us and minimize our code.<br>
==> A function can be resued at any number of times in a specific program<br>
==> In python a function can be crated by write the def keyword followed by parenthisis

In [13]:
# Example
def function():
    print('Nomi Intelligence')

This function can be used to print a 'Nomi Intelligence' at any part of the program<br>

### Call A Function
You can call a function by just writing function name you have defined as like

In [17]:
# Call a function
def func():
    print('Hello_World')
func() # Function calling

Hello_World

### Types Of Function
There are two types of function in python<br>
##### 1. BuiltIn Functions<br>
Such Types of functions which are already defined in python<br>
for example:<br>
==> replace() function which is used to replace things in python<br>
==> sort() function which is used for sorting<br>
==> len() which is used to find the length<br>
##### 2. User Defined Functions<br>
Such type of function which can be defined by the programmer or user with his/her own choice<br>
user defined Function can be anything<br>
for Example:<br>
def My_Name():<br>
following are the examples of built in and user defined functions

In [20]:
# Example Built In Function
a = [3,4,5,6,7,8,5]
print(len(a)) # Built In function

7

In [21]:
# Example of User Defined Function
def my_name():
    print('Nomi_Khan')
my_name()

Nomi_Khan

### Arguments Of Function
If you have to pass some information to a funcion that is called arguments<br>
==> you can pass as many arguments you want<br>
==> Arguments are such values through which a function can work with<br>
==> A function must be called with the correct numbers of arguments if you have put wrong then it's gonna give an error<br>
==> A function can also return a value<br>
For Example:

In [26]:
# Write a function and pass a parameter name 
def welcome(name):
    return 'Welcome to Nomi Intelligence ' + name
welcome('jhon')

'Welcome to Nomi Intelligence jhon'

##### Make a function to do Addition for us

In [5]:
# Example
def Addition(a,b):
    return a+b
Addition(22,33)

55

The above function will do addition for the two parameters we have given in the parenthisis if you give more than two values
it's will give you an error however you can increase the parameter amount as follow:

In [8]:
# Make a function to add four numbers and find average
def average(a,b,c,d):
    avg = a+b+c+d/4
    return avg
average(33,22,12,23)

72.75